.orderForm{
    width: 400px;
}
.errorMessage{
    color: red;
}
.orderButton{
    font-size: 22px;
    width: 220px;
}
.orderSummary{
    font-size: 18px;
}
.orderSummary div{
    margin-bottom: 12px;
}
.shipment-2{
    margin-left: 10px;
    font-weight: bolder;
}
.orderTotal{
    background: white;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 22px;
    font-weight: 500;
}
.orderTotalValue{
    font-size: 24px;
    font-weight: 700;
}